<html>
	<table border="0.2">
		<tr>
			<td colspan="4" height="100" ><img src="{{icone}}" width="200px" />| <strong>001-9</strong>|</td>
			<td colspan="4" height="100" >{{codigo_linha_digitavel}}</td>
		</tr>

		<tr>
			<td colspan="7">LOCAL DE PAGAMENTO:<br />Pag&#225;vel em qualquer banco at&#233; o vencimento.</td>
			<td></td>
		</tr>

		<tr>
			<td colspan="7"></td>
			<td></td>
		</tr>

		<tr>
			<td></td>
			<td colspan="2"></td>
			<td colspan="2"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="3"></td>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<td colspan="7" rowspan="5"></td>
			<td></td>
		</tr>

		<tr>
			<td></td>
		</tr>
		
		<tr>
			<td></td>
		</tr>
		
		<tr>
			<td></td>
		</tr>
		
		<tr>
			<td></td>
		</tr>

		<tr>
			<td colspan="8"></td>
		</tr>

		<tr>
			<td colspan="8"><strong>AUTENTICA&#199;&#195;O MEC&#194;NICA</strong></td>
		</tr>
		
		<tr>
			<td colspan="8">
<!--				&nbsp;&nbsp;<img src="{{codigo_barra}}" /> -->
			</td>
		</tr>
	</table>
</html>