					
					<ul id="menu" style="font-size:15px">

					<li>
					<a href="/" title="">
					<span>Página Inicial</span>
					</a>
					</li>
					<hr/>
					{% if perms.system.consulta %}
						<li><a href="/sistema/consulta/">Cálculo</a></li>
						<hr/>
					{% endif %}

					{% if perms.system.importacao_arquivo_retorno %}
						<li><a href="#">Importação</a>
						<ul>
							{% if perms.system.importacao_arquivo_retorno %}
							<li><a href="/sistema/arquivo-retorno/">Arquivo Retorno</a></li>
							{% endif %}
						</ul>
						</li>
						<hr/>
					{% endif %}

					{% if perms.system.relatorio %}					
					<li>
					<a href="#" title="">
					<span>Relatórios</span>
					</a>
						<ul>
							<li><a href="/sistema/relatorio/parcelas/pagas-vencidas/">Parcelas pagas x vencidas</a></li>
						</ul>
					</li>
					<hr/>													
					{% endif %}

					{% if perms.system.orgao_consulta or perms.system.convenio_consulta %}
						<li><a href="#">Administração</a>
						<ul>
							{% if perms.system.orgao_consulta %}
							<li><a href="/core/orgao/consulta/">Orgão</a></li>
							{% endif %}
							{% if perms.system.convenio_consulta %}
							<li><a href="/core/convenio/consulta/">Convênio</a></li>
							{% endif %}
						</ul>
						</li>
						<hr/>
					{% endif %}
					
					{% if perms.core.usuario_consulta or perms.core.grupo_consulta or perms.core.regional_consulta %}
					<li><a href="#">Usuário</a>
					<ul>
					{% if perms.core.usuario_consulta %}
					<li><a href="/core/usuario/consulta/">Controle</a></li>
					{% endif %}
					{% if perms.core.grupo_consulta %}
					<li><a href="/core/grupo/consulta/">Grupo</a></li>
					{% endif %}
					{% if perms.core.permissao_consulta %}
					<li><a href="/core/permissao/consulta/">Permissão</a></li>
					{% endif %}
					{% if perms.core.regional_consulta %}
					<li><a href="/core/regional/consulta/">Regional</a></li>
					{% endif %}
					</ul>
					</li>
					<hr/>
					{% endif %}
					
					{% if perms.core.municipio_consulta %}
						<li><a href="#">Município</a>
						<ul>
							{% if perms.core.municipio_consulta %}
								<li><a href="/core/municipio/consulta/">Controle</a></li>
							{% endif %}
						</ul>
						</li>
						<hr/>
					{% endif %}
					<li>
					<a href="/web/equipe/" title="">
					<span>Equipe</span>
					</a>
					</li>
	
					</ul>
