{% extends "core/base/cadastro.html" %} 
{% load staticfiles %}

{% block breadcumbs %}
	Pagamento | Importação do arquivo retorno 
{% endblock %}

{% block subtitulo %}
	
	IMPORTAÇÃO DO ARQUIVO RETORNO
	
{% endblock %}


{% block formulario %}
<div id="tabs" style="color:black;width:100%;font-size:11px">
<ul>
	<li><a href="#tabs-1">IMPORTAR ARQUIVO</a></li>
</ul>
<div id="tabs-1">		
		
	<form method="post" action="" enctype="multipart/form-data">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
		</div>
		<br />
		<table style="width:100%">
			<tr>
				<td class="colunaTabela">
					ARQUIVO (REF):
				</td>
				<td class="colunaTabela">
					<input type="file" name="arquivo" required accept=".ref" />
				</td>
			</tr>
			<tr>
				<td class="colunaTabela" colspan="2" style="text-align:left"> 
					<input type="submit" class="button_green" value="EXECUTAR" />
				</td>
			</tr>
		</table>
	</form>
</div>
</div>

{% endblock %}