{% extends "core/base/consulta.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Pagamento | Parcela(s) do Título
{% endblock %}

{% block subtitulo %}
	
	PARCELA(S) DO TITULO
	
{% endblock %}

{% block consulta %}

		<form name="form" method="post" action="">
			{% csrf_token %}
						
								<table style="width:80%;text-align: left">
										<tr>
											<td class="colunaTabela" colspan="2"> 
												<b>TITULADO</b><hr/>
											</td>
										</tr>

										<tr>
											<td> <b>Nome:</b> </td>
											<td> {{dados.pagamento.imovel_titulo.titulo.nome_titulado}} </td>
										</tr>

										<tr>
											<td> <b>CPF:</b> </td>
											<td> {{dados.pagamento.imovel_titulo.titulo.cpf_titulado}} </td>
										</tr>
								</table>
			<br />
			<table style="width:20%">
<!--
				<tr>
					<td class="colunaTabela" style="text-align:left"> 
						<input class="button_yellow" style="margin-right: 5px" type="submit" value="PESQUISAR" />
					</td>
				</tr>
-->
			</table>
		</form>
	
{% endblock %}

{% block resultado %}

		<div>	
			<table class="csstable">
			<tbody>
				<tr>
					<td class="colunaTabelaConsulta" style="width:5%">Nº</td>
					<td class="colunaTabelaConsulta" style="width:15%">Principal</td>
					<td class="colunaTabelaConsulta" style="width:20%">Juros</td>
					<td class="colunaTabelaConsulta" style="width:20%">Multa</td>
					<td class="colunaTabelaConsulta" style="width:20%">Correção</td>
					<td class="colunaTabelaConsulta" style="width:15%">Total</td>
					<td class="colunaTabelaConsulta" style="width:15%">Vencimento</td>
					<td class="colunaTabelaConsulta" style="width:5%">Emitir</td>
				</tr>
				{% if dados.parcelas %}
				  		{% for obj in dados.parcelas %}
							<tr>
									<td class="colunaTabelaConsulta">{{ obj.numero }}</td>
									<td class="colunaTabelaConsulta">{{ obj.valor_principal }}</td>
									<td class="colunaTabelaConsulta">{{ obj.valor_juro }}</td>
									<td class="colunaTabelaConsulta">{{ obj.valor_multa }}</td>
									<td class="colunaTabelaConsulta">{{ obj.valor_correcao }}</td>
									<td class="colunaTabelaConsulta">{{ obj.valor_total}}</td>
									<td class="colunaTabelaConsulta">{{ obj.data_vencimento|date:'d/m/Y'}}</td>
									<td class="colunaTabelaConsulta">
										<a target="blank" href="/sistema/gru-pagamento/{{obj.id}}/">
											<img width="24px" src="{% static "img/pdf.png" %}" title="Gerar GRU" alt="Gerar GRU" />	
										</a>
									</td>
							</tr>
						{% endfor %}
					{% else %}
					<tr> <td style="padding-top: 20px" colspan="6"> Nenhuma Parcela Encontrada </td> </tr>
				{% endif %}
			</tbody>
		</table>
					</br>
			Base de cálculos de correção monetária efetuada com base na Portaria Serfal Nº 1 de 19 de maio de 2010, 
			Lei 11.952 de 25 de junho de 2009 e  Decreto 6.992/09.  Para os pagamento após o vencimento da prestação, 
			estão sendo aplicados juros de 1% ao mês, conforme estabelecido na MP nº 2.183-56 de 24 de agosto de 2001.

		</div>		

{% endblock %}
