{% extends "core/base/consulta.html" %}
{% load staticfiles %}

{% block breadcumbs %}
	Pagamento | Requerer Desconto
{% endblock %}

{% block subtitulo %}

	REQUERER DESCONTO NOSSA TERRA - NOSSA ESCOLA

{% endblock %}

{% block consulta %}

		<form name="form" method="post" action="">
			{% csrf_token %}

								<table style="width:80%;text-align: left">

									<tr>
										<td> <b>Nome:</b> {{pagamento.imovel_titulo.titulo.nome_titulado}}</td>
										<td> <b>CPF:</b> {{pagamento.imovel_titulo.titulo.cpf_titulado}} </td>
									</tr>

									<tr>
										<td> <b>Titulo:</b> {{pagamento.imovel_titulo.titulo.numero}}</td>
										<td> <b>Processo Administrativo:</b> {{pagamento.imovel_titulo.titulo.processo}}</td>
									</tr>

									<tr>
										<td> <b>Tipo:</b> {{pagamento.imovel_titulo.titulo.tipo}} </td>
										<td> <b>Data da Emissão:</b> {{pagamento.imovel_titulo.titulo.data_emissao}}</td>
									</tr>

									<tr>
										<td> <b>Nome do Imóvel:</b> {{pagamento.imovel_titulo.imovel.nome}}</td>
										<td> <b>Gleba:</b> {{pagamento.imovel_titulo.imovel.gleba}}</td>
									</tr>

									<tr>
										<td> <b>Área:</b> {{pagamento.imovel_titulo.imovel.area_total}} ha </td>
										<td> <b>Município:</b> {{pagamento.imovel_titulo.imovel.municipio.nome_mun}} / {{pagamento.imovel_titulo.imovel.municipio.uf}}</td>
									</tr>

								</table>
			<br />
			<table>
        <tr>
          <td class="colunaTabela">
            DECLARAÇÃO  (PDF):
          </td>
          <td class="colunaTabela">
            <input type="file" name="arquivo" required accept=".pdf" />
          </td>
        </tr>

				<tr>
					<td class="colunaTabela" style="text-align:left">
            <input type="submit" class="button_green" value="ENVIAR" style="margin-right: 5px" />
            <a href="/sistema/parcelas-pagamento/{{pagamento.imovel_titulo.titulo.cpf_titulado}}/"> <input class="button_yellow" value="VISUALIZAR PARCELAS DO PAGAMENTO" type="button" /> </a>
					</td>
				</tr>
			</table>
		</form>

{% endblock %}

{% block resultado %}

		<div>
			<table class="csstable">
			<tbody>
				<tr>
					<td class="colunaTabelaConsulta" style="width:30%">Parcela</td>
					<td class="colunaTabelaConsulta" style="width:20%">Data da Solicitação</td>
					<td class="colunaTabelaConsulta" style="width:20%">Status</td>
					<td class="colunaTabelaConsulta" style="width:30%">Responsável</td>
				</tr>
				{% if solicitacoes %}
				  		{% for obj in solicitacoes %}
							<tr style="background-color:{% if obj.status = 'True' %} lightgreen {% else %} lightgray {% endif %}">
									<td class="colunaTabelaConsulta">{{ obj.parcela.numero }}</td>
									<td class="colunaTabelaConsulta">{{ obj.data_solicitacao|date:'d/m/Y' }}</td>
									<td class="colunaTabelaConsulta">{% if obj.status = 'True' %} Desconto Concedido {% else %} -- {% endif %}</td>
									<td class="colunaTabelaConsulta">{{ obj.auth_user.username }}</td>
							</tr>
						{% endfor %}
					{% else %}
					<tr> <td style="padding-top: 20px" colspan="6"> Nenhuma Solicitação Encontrada </td> </tr>
				{% endif %}
			</tbody>
		</table>
		</div>

{% endblock %}
